@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfChc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhFq3o.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.App {
  text-align: center;
}
.archetypes {
  position: relative;
  height: 99vw;
}
.archetypes ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.archetypes ul li {
  position: absolute;
  margin: 0;
  padding: 0;
}
.archetypes ul li .archetype-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 17.6vw;
  height: 17.6vw;
  font-size: 1.87vw;
}
.archetypes ul li .archetype-info.dichotomy-N {
  border: 1.32vw dotted #cccccc;
  border-radius: 17.6vw;
}
.archetypes ul li .archetype-info.dichotomy-S {
  border: 1.32vw solid #cccccc;
  border-radius: 17.6vw;
}
.archetypes ul li .archetype-info.dichotomy-T {
  background: #777777;
  color: #ffffff;
}
.archetypes ul li .archetype-info.dichotomy-F {
  background: #f7f7f7;
}
.archetypes ul li .archetype-info .epithet {
  font-weight: 900;
}
.archetypes ul li .archetype-info .socionicsAbbr,
.archetypes ul li .archetype-info .dichotomyAbbr {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.65vw;
}
.archetypes ul li .archetype-info svg {
  position: absolute;
  left: 1.1vw;
  width: 2.2vw;
  height: 2.2vw;
}
.archetypes ul li .archetype-info svg:nth-of-type(2) {
  left: auto;
  right: 1.1vw;
}
.archetypes ul li.pos-col-1 {
  left: 1.65vw;
}
.archetypes ul li.pos-col-2 {
  left: 15.95vw;
}
.archetypes ul li.pos-col-3 {
  left: 30.25vw;
}
.archetypes ul li.pos-col-4 {
  left: 51.15vw;
}
.archetypes ul li.pos-col-5 {
  left: 65.45vw;
}
.archetypes ul li.pos-col-6 {
  left: 79.75vw;
}
.archetypes ul li.pos-row-1 {
  top: 1.65vw;
}
.archetypes ul li.pos-row-2 {
  top: 15.95vw;
}
.archetypes ul li.pos-row-3 {
  top: 30.25vw;
}
.archetypes ul li.pos-row-4 {
  top: 51.15vw;
}
.archetypes ul li.pos-row-5 {
  top: 65.45vw;
}
.archetypes ul li.pos-row-6 {
  top: 79.75vw;
}
.archetypes ul li.disabled .disabler {
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 17.6vw;
  background: #222222;
}
.archetypes ul li.disabled.quadra-alpha .disabler {
  background: #e3fe5f;
}
.archetypes ul li.disabled.quadra-beta .disabler {
  background: #ffe4e1;
}
.archetypes ul li.disabled.quadra-gamma .disabler {
  background: #e6e6fa;
}
.archetypes ul li.disabled.quadra-delta .disabler {
  background: #eee8aa;
}
.archetypes .quadra-alpha-boundary,
.archetypes .quadra-beta-boundary,
.archetypes .quadra-gamma-boundary,
.archetypes .quadra-delta-boundary {
  position: absolute;
  left: 0;
  top: 0;
  width: 49.5vw;
  height: 49.5vw;
}
.archetypes .quadra-alpha-boundary {
  background: #e3fe5f;
}
.archetypes .quadra-beta-boundary {
  background: #ffe4e1;
  left: 49.5vw;
}
.archetypes .quadra-gamma-boundary {
  background: #e6e6fa;
  left: 49.5vw;
  top: 49.5vw;
}
.archetypes .quadra-delta-boundary {
  background: #eee8aa;
  top: 49.5vw;
}
.archetypes .rational-marker,
.archetypes .irrational-marker {
  position: absolute;
  border: 0.33vw solid #666666;
  background: #bbbbbb;
  opacity: 0.2;
}
.archetypes .rational-marker {
  display: none;
  left: 21.65625vw;
  height: 99vw;
  width: 6.1875vw;
  border-top: none;
  border-bottom: none;
}
.archetypes .rational-marker.right {
  left: 71.15625vw;
}
.archetypes .irrational-marker {
  top: 21.65625vw;
  width: 99vw;
  height: 6.1875vw;
  border-left: none;
  border-right: none;
}
.archetypes .irrational-marker.bottom {
  top: 71.15625vw;
}
.archetypes .intro-extra-boundary {
  position: absolute;
  left: 12.65vw;
  top: 12.65vw;
  border: 0.44vw dashed #bbbbbb;
  border-radius: 36.85vw;
  width: 73.7vw;
  height: 73.7vw;
}
.switches {
  display: flex;
  justify-content: space-evenly;
}
.switches .pair {
  display: flex;
  justify-content: space-between;
}
.switches .MuiIconButton-root-15,
.switches .jss15 {
  padding: 4px 8px;
}
