// Portrait (mobile) by default.
@landscape: ~'(min-aspect-ratio: 1/1)';

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,900&subset=latin-ext');

* {
  box-sizing: border-box;
}

html {
  font-size: 2.7vmin;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}


.App {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media @landscape {
    flex-direction: row;
  }
}

.archetypes {
  flex: none;
  position: relative;

  @quadraSize: 50vmin;
  @zoom: 2.2;
  @cellDiff: @zoom * 1.5vmin;

  @typeInfoSize: (@quadraSize + @cellDiff) / 3;

  @cellSize: @typeInfoSize - @cellDiff;
  @quadraSpace: @cellDiff / 2;

  @alphaColour: #e3fe5f;
  @betaColour: #ffe4e1;
  @gammaColour: #e6e6fa;
  @deltaColour: #eee8aa;



  width: 100vmin;
  height: 2 * @quadraSize;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: absolute;
      margin: 0;
      padding: 0;

      .archetype-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        width: @typeInfoSize;
        height: @typeInfoSize;
        font-size: @zoom * 0.85vmin;

        &.dichotomy-N {
          border: @zoom * 0.6vmin dotted #cccccc;
          border-radius: @typeInfoSize;
        }

        &.dichotomy-S {
          border: @zoom * 0.6vmin solid #cccccc;
          border-radius: @typeInfoSize;
        }

        &.dichotomy-T {
          background: #777777;
          color: #ffffff;
        }

        &.dichotomy-F {
          background: #f7f7f7;
        }

        .epithet {
          font-weight: 900;
        }

        .socionicsAbbr,
        .dichotomyAbbr {
          font-family: 'Roboto Mono', monospace;
          font-size: @zoom * 0.75vmin;
        }

        svg {
          position: absolute;
          left: @zoom * 0.5vmin;
          width: @zoom * 1vmin;
          height: @zoom * 1vmin;
        }

        svg:nth-of-type(2) {
          left: auto;
          right: @zoom * 0.5vmin;
        }
      }

      &.pos-col-1 {
        left: @quadraSpace + 0 * @cellSize;
      }

      &.pos-col-2 {
        left: @quadraSpace + 1 * @cellSize;
      }

      &.pos-col-3 {
        left: @quadraSpace + 2 * @cellSize;
      }

      &.pos-col-4 {
        left: 5 * @quadraSpace + 3 * @cellSize;
      }

      &.pos-col-5 {
        left: 5 * @quadraSpace + 4 * @cellSize;
      }

      &.pos-col-6 {
        left: 5 * @quadraSpace + 5 * @cellSize;
      }

      &.pos-row-1 {
        top: @quadraSpace + 0 * @cellSize;
      }

      &.pos-row-2 {
        top: @quadraSpace + 1 * @cellSize;
      }

      &.pos-row-3 {
        top: @quadraSpace + 2 * @cellSize;
      }

      &.pos-row-4 {
        top: 5 * @quadraSpace + 3 * @cellSize;
      }

      &.pos-row-5 {
        top: 5 * @quadraSpace + 4 * @cellSize;
      }

      &.pos-row-6 {
        top: 5 * @quadraSpace + 5 * @cellSize;
      }

      &.disabled {
        .disabler {
          opacity: 0.7;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: @typeInfoSize;
          background: #222222;
        }

        &.quadra-alpha .disabler {
          background: @alphaColour;
        }

        &.quadra-beta .disabler {
          background: @betaColour;
        }

        &.quadra-gamma .disabler {
          background: @gammaColour;
        }

        &.quadra-delta .disabler {
          background: @deltaColour;
        }
      }
    }
  }

  .quadra-alpha-boundary,
  .quadra-beta-boundary,
  .quadra-gamma-boundary,
  .quadra-delta-boundary {
    position: absolute;
    left: 0;
    top: 0;
    width: @quadraSize;
    height: @quadraSize;
  }

  .quadra-alpha-boundary {
    background: @alphaColour;
  }

  .quadra-beta-boundary {
    background: @betaColour;
    left: @quadraSize;
  }

  .quadra-gamma-boundary {
    background: @gammaColour;
    left: @quadraSize;
    top: @quadraSize;
  }

  .quadra-delta-boundary {
    background: @deltaColour;
    top: @quadraSize;
  }

  @rationalWidth: @quadraSize / 8;

  .rational-marker,
  .irrational-marker {
    position: absolute;
    border: @zoom * 0.15vmin solid #666666;
    background: #bbbbbb;
    opacity: 0.2;
  }

  .rational-marker {
    display: none;

    left: @quadraSize / 2 - @rationalWidth / 2;
    height: 2 * @quadraSize;
    width: @rationalWidth;
    border-top: none;
    border-bottom: none;

    &.right {
      left: @quadraSize + @quadraSize / 2 - @rationalWidth / 2;
    }
  }

  .irrational-marker {
    //display: none;

    top: @quadraSize / 2 - @rationalWidth / 2;
    width: 2 * @quadraSize;
    height: @rationalWidth;
    border-left: none;
    border-right: none;

    &.bottom {
      top: @quadraSize + @quadraSize / 2 - @rationalWidth / 2;
    }
  }

  .intro-extra-boundary {
    @introExtraCenter: @quadraSize;
    @introExtraRadius: 2 * @cellSize + abs(@cellSize - @typeInfoSize) * 2.5;

    position: absolute;
    left: @introExtraCenter - @introExtraRadius;
    top: @introExtraCenter - @introExtraRadius;
    border: @zoom * 0.2vmin dashed #bbbbbb;
    border-radius: @introExtraRadius;
    width: 2 * @introExtraRadius;
    height: 2 * @introExtraRadius;
  }
}

.switches {
  display: flex;
  justify-content: space-evenly;

  @media @landscape {
    flex-direction: column;
    justify-content: center;
    margin-left: 3vmin;
    min-width: 35vmin;
  }

  .dichotomies {
    min-width: 45vmin;

    @media @landscape {
      min-width: auto;
    }

    .pair {
      display: flex;
      justify-content: center;

      .MuiFormControlLabel-root-1 {
        flex: 1;
        display: flex;

        &:first-child {
          flex-direction: row-reverse;
        }
      }
    }
  }

  .quadras {
    min-width: 44vmin;

    @media @landscape {
      margin-top: 5vmin;
      min-width: auto;
    }

    > div {
      display: grid;
      grid-template-columns: [left] 50% 50% [right];

      :first-child {
        justify-content: center;
        grid-column-start: left;
        grid-column-end: right;
      }

      :nth-child(2n) {
        grid-column-start: left;
        flex-direction: row-reverse;
      }
    }
  }

  .MuiFormControlLabel-root-1 {
    margin: 0; // Undo the negative margins.
  }

  // Checkbox and radiobutton padding.
  .MuiIconButton-root-15, .jss15 {
    padding: 0.8vmin 1.5vmin;
  }
}
